@import 'tailwindcss';

@theme {
	--color-forest: #2c5530;
	--color-cedar: #a45a52;
	--color-parchment: #f5f1e6;
	--color-espresso: #3b2b25;

	--font-serif: Merriweather, serif;
	--font-sans: Inter, sans-serif;
}
